.header {
    background-color: var(--color-secondary);
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: auto 1fr auto auto;
    padding: 0px 15px 5px 15px;
    min-height: 100vh;
}

.logoSec {
    grid-column: 1/2;
    grid-row: 1/2;
}

.shopSec {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.hamSec {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
}

.navSec {
    grid-column: 1/4;
    grid-row: 2/3;
}

.loginsSec {
    grid-column: 1/4;
    grid-row: 3/4;
}

.socialsSec {
    grid-column: 1/4;
    grid-row: 4/5;
    justify-self: center;
}
