@use "styles/colors";
.dropdown {
    list-style-type: none;
    z-index: 9;
    margin-left: 20px;
    display: none;
    padding-top: 30px;
    &:hover {
        display: block;
    }

}

.dropdown.show {
    display: block;
}


.item:not(:last-child) {
    margin-bottom: 20px;
}
.link {
    display: block;
    padding: 10px 0 10px 15px;
    border-left: 2px solid black;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    color: white;

    &:hover {
        background-color: white;
        color: colors.$blue-darkNavy-b90-1;
        border-left-color: white;
        border-radius: 5px;
        font-weight: bold;
    }

    &:active {
        background-color: colors.$yellow-honey-1;
        border-left-color: colors.$yellow-honey-1;
        font-weight: bold;
        color: black;
        border-radius: 5px;
        font-weight: bold;
    }


    @media (min-width: 1000px) {
        font-size: 1.2rem;
    }

    @media (min-width: 1400px) {
        font-size: 1.3rem;
    }

}
