.socials {
    a:not(:last-child) {
        margin-right: 10px;
    }
    a {
        box-sizing: content-box;
        padding: 5px 15px;
        display: inline-block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        img {
            display: inline-block;
            width: 100%;
            height: 100%;

        }
    }

    @media (min-width: 600px) {
        a {
            width: 40px;
            height: 40px;
        }
    }
}
