.card {
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 20px 5px 10px;
    max-width: 650px;
    margin: auto;

    .street {
        text-align: center;
        padding: 0px 0 12px 0;
        font-weight: bold;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        font-size: 0.8rem;

        @media screen and (min-width: 1000px) {
            font-size: 1rem;
        }
    }

    .city_region {
        display: flex;
        flex-flow: row wrap;
        text-transform: uppercase;
        font-size: 0.8rem;
        @media screen and (min-width: 1000px) {
            font-size: 1rem;
        }
        .city {
            flex: 1 1 100%;
        }
        .region {
            flex: 1 1 100%;
        }

        @media screen and (min-width: 400px) {
            .city {
                flex: 0 1 min-content;
            }
            .region {
                flex: 1 1 min-content;
                margin-left: 25px;
            }
        }
    }

    .country_fullname {
        display: flex;
        flex-flow: row wrap;
        text-transform: uppercase;
        font-size: 0.8rem;
        @media screen and (min-width: 1000px) {
            font-size: 1rem;
        }

        .country {
            flex: 1 1 100%;
        }
        .fullname {
            font-weight: bold;
            letter-spacing: 1.3px;
            flex: 1 1 100%;
        }
    }

    .postcode {
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1.3px;
        @media screen and (min-width: 1000px) {
            font-size: 1rem;
        }
    }

    .email {
        padding-top: 8px;
        text-transform: lowercase;
        letter-spacing: 1.3px;
        font-weight: bold;
        font-size: 0.9rem;

        @media (min-width: 400px) {
            font-size: 1rem;
        }

        @media (min-width: 1000px) {
            font-size: 1.1rem;
        }
    }

    .mobile {
        padding-bottom: 8px;
        text-transform: lowercase;
        letter-spacing: 1.3px;
        font-weight: bold;
    }

    .comment {
        margin-top: 10px;
        text-align: center;
        font-size: 1rem;

        @media (min-width: 1000px) {
        font-size: 1.1rem;
        }

        img:nth-of-type(1) {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
        }

        img:nth-of-type(2) {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 5px;
        }
    }

    .togglesContainer {
        display: block;
    }

    .notBeingEdited {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-top: 15px;
        margin-bottom: -10px;

        .toggle {
            display: flex;
            justify-content: center;
            padding: 10px;
            align-items: center;
            cursor: pointer;
            img {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
            .delete {
                width: 25px;
                height: 25px;
            }
            .edit {
                width: 25px;
                height: 25px;
            }

            @media (min-width: 800px) {
                .delete {
                    width: 30px;
                    height: 30px;
                }
                .edit {
                    width: 30px;
                    height: 30px;
                }
            }

            @media (min-width: 1000px) {
                .delete {width: 35px; height: 35px;}
                .edit {width: 35px; height: 35px;}
            }

        }
    }
}
