.nav {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-right: 5%;
}


.navItem {
    position: relative;
    .navLink {
        margin-right: 15px;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border-left: 1px solid black;
        padding: 10px 20px 10px 35px;
        font-size: 1.1rem;
        letter-spacing: 1px;
        width: 100%;
        color: white;
        position: relative;
        z-index: 100;

        &:hover ~ ul {
            display: block;
        }

        &:hover {
            background-color: white;
            color: var(--color-font);
            border-left-color: white;
            border-radius: 5px;
        }


        &:active {
            background-color: var(--color-honey);
            border-left-color: var(--color-honey);
            font-weight: bold;
            color: black;
            border-radius: 5px;
        }
    }

    @media (min-width: 1400px) {
        .navLink {font-size: 1.2rem;}
    }

    @media (min-width: 1800px) {
        .navLink {font-size: 1.3rem;}
    }
}

.show {
    background-color: white;
    color: var(--color-font) !important;
    border-left-color: white !important;
    border-radius: 5px;
}
