
.dropdown {
    list-style-type: none;
    position: absolute;
    top: 33px;
    left: -9px;
    background-color: var(--color-secondary);
    min-width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 5px 0 10px;
    display: none;
    z-index: 1;

    &:hover {
        display: block;
    }
}

.link {
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    padding: 10px 20px 10px 35px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    width: 100%;
    color: white;
    border-left: 1px solid black;
    margin-bottom: 10px;

    &:hover {
        background-color: white;
        color: var(--color-font);
        border-left-color: white;
        border-radius: 5px;
    }
}


.dropdown.show {
    display: block;
}

@media (min-width: 1400px) {
    .dropdownLink {font-size: 1.2rem;}
}
@media (min-width: 1800px) {
    .dropdownLink {font-size: 1.3rem;}
}
